/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===== Font Faces ============================================================
   Author: Karl Williams @karlwilliams karl@deadlight.net
   ========================================================================== */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/static/fonts/BebasNeue-webfont.eot');
    src: url('/static/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/static/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/static/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ===== Primary Styles ========================================================
   Author: Karl Williams @karlwilliams karl@deadlight.net
   ========================================================================== */

/*
	BASE STYLES
*/

html {
	background-color: #bbbbbb;
	color: #222222;
}

body {
	font-family: ariel, helvetica, sans-serif;
	font-size: 10px;
    max-width: 960px;
    margin: 0 auto;
}


header {
    float: left;
    width: 450px;
    height: 75px;
}

h1, h2, h3, h4, h5 {
	font-family: 'BebasNeueRegular', impact, sans-serif;
    letter-spacing: 2px;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

p, li, table {
    font-size: 1.6em;
}

td {
    min-width: 150px;
    padding: 5px 10px;
    border-collapse: collapse;
}

a:link {
	color: #222222;
}

a:visited {
	color: #222222;
}

a:active {
	color: #222222;
}

a:hover {
    color: #660000;
}

header h1 {
	font-size: 4em;
    margin-top: 5px;
}

header h2 {
    font-size: 2.6em;
}

.highlighted-letters {
    color: #660000;
}

.lowlighted-letters {
    color: #ffffff;
}

header p {

}

nav {
    width: 450px;
    height: 50px;
    float: right;
}

nav li {
    float: left;
    margin-right: 10px;
}

nav li a:link,
nav li a:visited {
    display: block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #cccccc;    
    background-color: #555555;
    font-weight: bold;
}

.home .home,
.book .book,
.events .events,
.author .author,
.contact .contact,
nav li a:hover {
    background-color: #660000;
}

article h1 {
	font-size: 2.4em
}

p {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 18px 0;
}

article {
    padding: 10px;
    margin-bottom: 20px;
    float: left;
    width: 600px;
    min-height: 300px;
    box-shadow: 3px 3px 5px #333333;
    border-radius: 7px;
    background-color: #ffffff;
}

article img {
    padding: 10px;
    margin: 0 5px 10px 10px;
    float: right;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 3px 3px 5px #333333;
    border-radius: 5px;    
}

.aux {
    margin-top: 25px;
    width: 300px;
    float: right;
    background-color: #555555;
    box-shadow: 3px 3px 5px #333333;
    border-radius: 7px;
    padding: 10px;
    color: #ffffff;
}

footer {
    text-align: center;
    clear: both;
    height: 50px;
    padding: 10px;
}

footer p {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

/*
	SPECIAL STYLES
*/

.cover {
    border: 1px solid #333333;
    width: 175px;
    display: block;
    margin: 10px auto;
}

.buyLink:link,
.buyLink:visited {
	margin: 0 auto;
	background-color: #660000;
	display: block;
	width: 175px;
	height: 45px;
	line-height: 45px;
	moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
}

.buyLink:hover,
.buyLink:active {
    color: #cccccc;
}

/* ========================================================
   BUBBLE WITH AN OBTUSE TRIANGLE
   ===================================================== */

/* THE SPEECH BUBBLE */

.quote {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
    color: #333333;
	background:#cccccc;
	border-radius:10px;
}

.reviewer {
    position: absolute;
    bottom: -25px;
    left: 100px;
    color: #ffffff;
}

/* THE TRIANGLE */

/* creates the wider right-angled triangle */
.quote:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:60px; /* controls horizontal position */
	border:0;
	border-right-width:30px; /* vary this value to change the angle of the vertex */
	border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
	border-style:solid;
	border-color:transparent #cccccc;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the narrower right-angled triangle */
.quote:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:80px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
	border:0;
	border-right-width:10px; /* vary this value to change the angle of the vertex */
	border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
	border-style:solid;
	border-color:transparent #555555;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
